.hero{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hero-text{
    text-align: center;
    max-width: 75rem;
    padding: 0 1.25rem;
}

.hero-text h1{
    font-size: 4.5rem;
    font-weight: 600;
    background: linear-gradient(
        to right,
        rgb(255, 181, 107),
        rgb(253, 175, 105),
        rgb(248, 157, 99),
        rgb(245, 151, 97),
        rgb(239, 134, 94),
        rgb(236, 128, 93),
        rgb(227, 110, 92),
        rgb(223, 104, 92),
        rgb(213, 88, 92),
        rgb(209, 82, 92),
        rgb(196, 65, 93),
        rgb(192, 59, 93),
        rgb(178, 44, 94),
        rgb(172, 38, 94),
        rgb(156, 21, 95),
        rgb(149, 15, 95),
        rgb(131, 0, 96),
        rgb(124, 0, 96),
        rgb(104, 0, 96),
        rgb(96, 0, 95),
        rgb(72, 0, 95),
        rgb(61, 0, 94),
        rgb(61, 0, 94),   
        rgb(72, 0, 95),   
        rgb(96, 0, 95),   
        rgb(104, 0, 96),  
        rgb(124, 0, 96),  
        rgb(131, 0, 96),  
        rgb(149, 15, 95), 
        rgb(156, 21, 95), 
        rgb(172, 38, 94), 
        rgb(178, 44, 94), 
        rgb(192, 59, 93), 
        rgb(196, 65, 93), 
        rgb(209, 82, 92), 
        rgb(213, 88, 92), 
        rgb(223, 104, 92),
        rgb(227, 110, 92),
        rgb(236, 128, 93),
        rgb(239, 134, 94),
        rgb(245, 151, 97),
        rgb(248, 157, 99),
        rgb(253, 175, 105),
        rgb(255, 181, 107) 
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 6s linear infinite;
}

@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.hero-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Bricolage Grotesque", sans-serif;
    border-right: 0.3rem solid;
    letter-spacing: 0.19rem;
    max-width: fit-content;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 9s,
        cursor .5s step-end infinite alternate;
}

@keyframes cursor{
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.hero-text p{
    width: 90%;
    margin: 0.625rem auto 1.25rem;
    line-height: 1.4;
    font-size: 1.375rem;
    font-family: "Bricolage Grotesque", sans-serif;

}